@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/antd.css';
@import 'react-toastify/dist/ReactToastify.css';
@import "@nosferatu500/react-sortable-tree/style.css";

@layer base {
  html {
    font-weight: 500;
  }
}
.ant-menu-item:first-child {
  margin-top: 0;
}
.ant-card-body p:last-child {
  margin-bottom: 0;
}
.ant-btn-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-progress-circle-trail {
  stroke: rgb(204, 204, 204);
}

$primaryBlue: #1890ff;
$primaryGreen: #52c41a;
$primaryRed: #ff4d4f;
$gray2: #fafafa;
$gray8: #595959;
$gray6: #bfbfbf;
$gray4: #f0f0f0;
$yellow6: #fadb14;
